extends layout

block content
  div.containerfluid
  div.row
   div.col-xs-12
    img#csr(src="/images/construct.jpg" alt="")
   div.offset-sm-7.col-sm-4#csbody
     div.row
      div.col-xs-12#v
       p#csrheading Page under construction. #[br]
                   |Be the one of the first to know when
                   |we unveil.
     div.form-group.row
          div.col-xs-12#csfield
                  input.form-control(type="text" name="accesskey2" placeholder="example@email.com" required)      
     div.row
      div.col-xs-12#button
        a.btn.btn-outline-primary#contactus(href='/display') Submit 
                  
     
     