extends layout

block content
 div.containerfluid
   div.col-xs-12#csrBg    
    div.col-xs-6#csrBg
      div.col-xs-12#csrbody
       div.row#csrheading
        div.col-xs-12#v
        
         p Makoko Literacy #[br]
           |Project
       div.row
         a.btn.btn-outline-primary#csrLink(href='#') Find out more  
    div.col-xs-6#csrBg1
       img#csr(src="/images/makoko.jpg" alt="")
       
   div.col-xs-12#csrBg
     div.col-xs-6#csrBg
      div.col-xs-12#csrbody
       div.row
        div.col-xs-12#v
         p#csrheading Web 4TEEN
       div.row 
         a.btn.btn-outline-primary#csrLink(href='#') Find out more   
  
     div.col-xs-6#csrBg1
      img#csr(src="/images/web4teen.jpg" alt="")    
         
      
   
     
     