extends layouta

block content
  
  div#bannera
    a.btn#ds(href='/display') DESIGN | SOFTWARE
  div#bannerb
    a.btn#ma(href='/display') MARKETING | ANALYTICS
  div.col-xs-12.col-md-9.col-lg-6#intro
    p#content iNspire is a digital technology start-up constituting
      | a team of designers, programmers and creative thinkers
      | handling projects under design, software, marketing & analytics. #DIGITECH
    a.btn.btn-primary(href='/display') Request For Proposal