doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href="/stylesheets/style.css")
    link(rel="stylesheet", href="stylesheets/bootstrap.css" crossorigin="anonymous")
    link(rel='stylesheet', href='stylesheets/owl.carousel.min.css')
    link(rel='stylesheet', href='stylesheets/owl.theme.default.min.css')
 
    
  body
      nav.navbar.fixed-top.hidden-sm-down
          a.navbar-brand.logo(href="/home")
          ul.topnav
              li.mynav
                  a(href="/story") Our Story
              li.mynav
                  a(href="") Blog
              li.mynav
                  a(href="/CSR") Social Work
              li.mynav
                  a(href="/contact") Contact
          a.icon(href="javascript:void(0);")
              div#nav-icon1
                  span
                  span
                  span
     
  block content
   div.col-xs-12#footer
 
script(src="javascripts/jquery.min.js")
script(src="javascripts/owl.carousel.min.js")
script.
    $(document).ready(function(){
     $('.owl-carousel').owlCarousel();
      });
script.
  $('.owl-carousel').owlCarousel({
  loop:true,
  margin:150,
  items:4,
  nav: false,
  dots: false,
  autoplay:true,
  autoplayTimeout:2000,
  autoplayHoverPause:false,
  responsiveClass:true,
  responsive:{
  0:{
  items:1
  },
  500:{
  items:2
  },
  1000:{
  items:4
  }
  }
  });
 
script.
      $(document).ready(function(){
        $('#nav-icon1,#nav-icon2').click(function(){
          $(this).toggleClass('open');
          $('.mynav').toggleClass('exp');
        });
      });
